.collapsible {
  background-color: white;
  color: black;
  font-weight: 400;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border-top: 0.7px solid darkgray;
  border-bottom: 0.7px solid darkgray;
  border-left: none;
  border-right: none;
  text-align: left;
  outline: none;
  font-size: 21px;
}

.active, .collapsible:hover {
  background-color: white;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: white;
}

.rating {
  display: inline-block;
  unicode-bidi: bidi-override;
  color: lightgray;
  font-size: 20px;
  height: 20px;
  width: auto;
  margin: 0;
  position: relative;
  padding: 0;
}

.rating-upper {
  color: black;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: flex;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating-lower {
  padding: 0;
  display: flex;
  z-index: 0;
}