.collapsible {
  background-color: white;
  color: black;
  font-weight: 400;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border-top: 0.7px solid darkgray;
  border-bottom: 0.7px solid darkgray;
  border-left: none;
  border-right: none;
  text-align: left;
  outline: none;
  font-size: 21px;
  position: relative;
  margin-left: '80px';
}

.active {
  background-color: white;
  border-bottom: none;
  padding-bottom: 30px;
  position: relative;
  margin-left: '80px';
}

.collapsible:hover {
  background-color: white;
  margin-left: '80px';
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  border-bottom: none;
  position: relative;
  margin-left: '80px';
}

.active:after {
  content: "\2212";
  position: relative;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: white;
}

.rating {
  display: inline-block;
  unicode-bidi: bidi-override;
  color: lightgray;
  font-size: 20px;
  height: 20px;
  width: auto;
  margin: 0;
  position: relative;
  padding: 0;
}

.rating-upper {
  color: black;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: flex;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating-lower {
  padding: 0;
  display: flex;
  z-index: 0;
}

.arrow {
  display: inline-block;
  position: relative;
  width: 18px;
  height: 8px;
  top: 7px;
  transition: top 250ms cubic-bezier(0.86, 0, 0.07, 1) 0s;
}

.arrow:before {
  content: "";
  display: inline;
  position: absolute;
  width: 9px;
  height: 2px;
  transform-origin: 100% 30%;
  transform: rotate(-45deg);
  left: 0px;
  background: rgb(17, 17, 17);
  transition: transform 250ms cubic-bezier(0.86, 0, 0.07, 1) 0s, transform-origin 200ms cubic-bezier(0.86, 0, 0.07, 1) 0s;
}

.arrow:after {
  content: "";
  display: inline;
  position: absolute;
  width: 9px;
  height: 2px;
  transform-origin: 0% 30%;
  transform: rotate(45deg);
  right: 0px;
  background: rgb(17, 17, 17);
  transition: transform 250ms cubic-bezier(0.86, 0, 0.07, 1) 0s, transform-origin 200ms cubic-bezier(0.86, 0, 0.07, 1) 0s;
}

.writeReview {
  cursor: pointer;
  position: relative;
  font-family: Helvetica;
  margin-top: 30px;
  margin-left: -9px;
  width: 114px
}

.writeReview:hover {
  cursor: pointer;
  position: relative;
  text-decoration-line: underline;
  font-family: Helvetica;
  margin-top: 30px;
  margin-left: -9px;
  width: 114px
}

.username {
  float: 'right';
  font-family: 'helvetica';
  padding-left: '18px';
  padding-top: '7.5px';
  font-weight: '0';
  padding-right: '0px';
}

.comment {
  float: 'left';
  position: 'relative';
  font-family: 'helvetica';
  margin-left: '-10px';
  margin-top: '-10px';
}